@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://use.typekit.net/kyv7urt.css");


body {
    font-family: "quara-web", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #191919;

}



html {
    scroll-behavior: smooth;

}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.border {
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

#hero0 {
    background-image: url(/family.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale();


}

#herotext {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px;




}


.ribbon {
    --f: 10px;
    /* control the folded part*/
    --r: 15px;
    /* control the ribbon shape */
    --t: 10px;
    /* the top offset */

    position: absolute;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path:
        polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
            calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)),
            var(--r) calc(50% - var(--f)/2));

    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}

input:focus {
    outline: none;
}