@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://use.typekit.net/kyv7urt.css");


body {
    font-family: "quara-web", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #191919;

}



html {
    scroll-behavior: smooth;

}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.border {
    border-color: white;
    border-width: 2px;
    border-style: solid;
}